body {
    font-family: sans-serif;
    margin: 20px;
    background-color: rgb(24 24 27);
  }

.titulo {
    text-align: center;
    color: #dde7e7;
}
  
#quiz-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    color: #dde7e7;
}
  
#pergunta {
    font-size: 18px;
    margin-bottom: 10px;
}
  
#opcoes {
    display: flex;
    justify-content: space-around;
}
  
#verdadeiro, #falso {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
  
#progresso {
    margin-top: 20px;
    height: 20px;
    width: 100%;
    background-color: #ddd;
}
  
#barra {
    height: 100%;
    width: 0%;
    background-color: green;
}